.wrapper__main-chat
  .wrapper__main-chat__top
    .wrapper__main-chat__top__center
      .wrapper__main-chat__top__center__group
        .wrapper__main-chat__top__center__group__name
          = @group.name
        .wrapper__main-chat__top__center__group__member
          %ul.wrapper__main-chat__top__center__group__member__menu
            %li.wrapper__main-chat__top__center__group__member__name Member : 
            - @members.each do |member|
              %li.wrapper__main-chat__top__center__group__member__name 
                = member
      .wrapper__main-chat__top__center__button
        .wrapper__main-chat__top__center__button__edit
          = link_to "Edit", edit_group_path(@group.id)
  .wrapper__main-chat__middle
    = render @messages
  .wrapper__main-chat__bottom
    = form_with model: [@group, @message], html: {class: "wrapper__main-chat__bottom__form"}, local: true do |f|
      .wrapper__main-chat__bottom__form__contents
        = f.text_field :text, class: 'wrapper__main-chat__bottom__form__contents__message', placeholder: 'type a message'
        .wrapper__main-chat__bottom__form__contents__image
          = f.label :image, class: 'wrapper__main-chat__bottom__form__contents__image__icon' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'wrapper__main-chat__bottom__form__contents__image__icon__file'
      .wrapper__main-chat__bottom__form__submit
        = f.submit 'Send', class: 'wrapper__main-chat__bottom__form__submit__button'