.wrapper__side-bar
  .wrapper__side-bar__top
    .wrapper__side-bar__top__box
      .wrapper__side-bar__top__box__name
        = current_user.name
      .wrapper__side-bar__top__box__icon
        = link_to new_group_path, class: "wrapper__side-bar__top__box__icon__edit" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "wrapper__side-bar__top__box__icon__cog" do
          = icon('fas', 'cog')
  .wrapper__side-bar__bottom
    - current_user.groups.each do |group|
      .wrapper__side-bar__bottom__list
        = link_to group_messages_path(group) do
          .wrapper__side-bar__bottom__list__title
            = group.name
          .wrapper__side-bar__bottom__list__message
            = group.show_last_message
